* {
	font-family: "Times New Roman", Times, serif;
	font-size:14px;
}

ul {
  list-style-type: none;
}

.bullet {
	cursor: pointer;
	color: #777;
	&:before {
		display: inline-block;
  	content: ' \25CF';
  	width:20px;
  }
  &:hover {
  	&:before {
  		content: " 	\2013";
  	}
  }
}

input {
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}